<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
     <h1>Welcome to TrainersApp!</h1>
    <p>Your one-stop solution for trainer bookings.</p>
    <a href="/register/">Register</a> |
     <a href="/register/trainer/">Register Trainer</a> |
    <a href="/login/">Login</a> |
     <a href="/logout/">Logout</a> |
    <a href="/trainer/">View Trainers</a> |
     <a href="/category/">Trainer Category</a>|
      <a href="/service/">View Service</a> |
    <a href="/booking/">View Booking</a> |
    <a href="/cancel/">Cancellation</a> |

 <h1>Welcome to Trainers App</h1>
    <nav>
        <ul>
            <li><a href="{% url 'user_login' %}">Login</a></li>
            <li><a href="{% url 'user_register' %}">Register</a></li>
            <li><a href="{% url 'trainer_registration' %}">Register as Trainer</a></li>
            <li><a href="{% url 'trainer_category' %}">Trainer Categories</a></li>
            <li><a href="{% url 'service_page' %}">Services</a></li>
            <li><a href="{% url 'booking_cancel' %}">Cancel Booking</a></li>
        </ul>
    </nav>
</body>
</html>